.converter {
    border: 0px solid rgb(95, 0, 0);
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset rgb(96 0 0) 0px 0px 19px 0px, rgb(116 0 0) 0px 0px 40px 0px;
    background-color: rgb(218, 160, 1);
}

.form__Fieldset {
    border-radius: 5px;
    border: 2px solid rgb(95, 0, 0);
    margin: 10px 0;
}

.form__Variables {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__Trades {
    display: inline-block;
}

.form__Data {
    border: 2px solid rgb(95, 0, 0);
    border-radius: 10px;
    padding: 3px;
    width: 100%;
    max-width: 180px;
}

.form__Button {
    margin: auto;
    margin-top: 5px;
    display: block;
    color: white;
    background-color: rgb(95, 0, 0);
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

.form__Button:hover {
    background-color: rgba(95, 0, 0, 0.705);
}

.form__Button:active {
    background-color: rgba(95, 0, 0, 0.466);
}

.form__Returned {
    display: block;
    margin: 10px;
    font-size: 20px;
}